body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./images/ian-dooley-DJ7bWa-Gwks-unsplash.jpg");
}

.container {
  position: fixed;
  width: 300px;
  padding: 20px;
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #ffffff;
  
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #045a08;
}

#signup {
  display: block;
  padding: 10px;
  margin-top: 10px;
  background-color: blue;
  color: white;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#signup:hover {
  background-color: rgb(8, 8, 188);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

#success{
  color: rgb(116, 255, 116);
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
